a {
            color: inherit;
        }
        a:hover {
            color: inherit;
        }
        .jumbotron {
            background-color: transparent;
        }
        #intro {
            background-color: #000375;
            background-image: linear-gradient(-5deg,#326B83, #000375);

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .bg-dblue {
            background-color: #000375;
            background-image: linear-gradient(-5deg,#326B83, #000375);
        }
        .text-dblue {
            color: #004e89;
        }
        .bg-dred {
            background-color: #87001b;
        }
        .text-dred {
            color: #87001b;
        }
        #btn-danger {
            background-color: #87001b;
            border-color: #87001b;
        }
        .bg-dark {
            background-color: #19323c;
        }
        .cor {
            font-family: 'Cormorant Garamond', serif;
        }

        .display-5 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        @media (min-width:992px) {
            .display-5 {
                font-size: 3rem;
                font-weight: 700;
            }
        }
